extends staffs/layout.pug

block title
    |職員編集
block content
    form(method="POST")
        +generate_fields(form)
        .btn-group
            input.btn.btn-success(type="submit",value="保存")
            a.btn.btn-danger(href="{{ url_for('staffs.index') }}") キャンセル