extends performlogs/layout.pug

block title
    | {{ item['name'] }} 実績編集 - ペタペタシステム
block content
    .form-group
        label 氏名
        div {{ item['name'] }}
    .form-group
        label 日付
        div {{ item['yymmdd'] }}
    form(method="POST")
        +generate_fields(form)
        .btn-group
            input.btn.btn-success(type="submit",value="保存")
            a.btn.btn-danger(href="{{ url_for('performlogs.index', id=item['id'], yymm=item['yymm']) }}") キャンセル