mixin generate_fields(form)
    for field in form
        if (field.type != 'CSRFTokenField') and (field.type != 'HiddenField')
            if field.errors
                .form-group.has-error {{ field.label }}
                    | {{ field(class='form-control') }}
                    for error in field.errors
                        span.help-block= error
            else
                .form-group=  field.label
                    | {{ field(class='form-control') }}
                    for error in field.errors
                        span.help-block= error
         else
            | {{ field() }}
