mixin generate_fields(form)
    for field in form
        if (field.type == 'CSRFTokenField') or (field.type == 'HiddenField')
            | {{ field }}
        else
            if field.errors
                .form-group.has-error {{ field.label }}
                    if field.type in ('StringField', 'PasswordField', 'TextAreaField',"DecimalField","DateField","IntegerField")
                         | {{ field(class='form-control') }}
                    else
                         | {{ field() }}
                    for error in field.errors
                        span.help-block= error
            else
                .form-group=  field.label
                    if field.type in ('StringField', 'PasswordField', 'TextAreaField',"DecimalField","DateField","IntegerField")
                         | {{ field(class='form-control') }}
                    else
                         | {{ field() }}
                    for error in field.errors
                        span.help-block= error
