extends layout.pug

block title
    |ペタペタシステム
block content
    table.table.table-hover
        thead
            tr
                th 名前
                td
        tbody
            for item in items
                tr
                    td= item['name']
                    td: .text-right
                        .btn-group
                            if not item['staff']
                                .row: .btn-group
                                    a.btn.btn-info(href="{{ url_for('performlogs.index', id=item['id']) }}") 実績記録
                                    a.btn.btn-info(href="{{ url_for('index') }}") 当月実績記録票
                                    a.btn.btn-info(href="{{ url_for('index') }}") 前月実績記録票
                            .row: .btn-group
                                a.btn.btn-info(href="{{ url_for('worklogs.index', id=item['id']) }}") 勤怠記録
                                a.btn.btn-info(href="{{ url_for('index') }}") 当月勤怠記録票
                                a.btn.btn-info(href="{{ url_for('index') }}") 前月勤怠記録票
 